@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <label id="lbl-ticker">Enter a ticker symbol:</label>
            <input type="text" id="ticker" name="ticker"/>
            <button class="btn btn-primary" id="btn-submit">Submit</button>
        </div>
           <div class="col-md-8">
            Stock symbol was:
            <pre id="signalr-message-stock"></pre>
        </div>
    </div>
</div>
